.simplerads-actions-wrapper {
  width: 15%;
  margin-top: -20px;
  position: absolute;
}

.simplerads-actions-wrapper.single {
  width: auto;
  min-width: 20%;
}

.simplerads-actions-wrapper.single a {
  margin-top: -20px;
  position: absolute;
}

.simplerads-actions-wrapper .dropbutton-wrapper {
  position: absolute;
  margin-top: -20px;
}

#edit-advertisements,
#edit-groups,
#edit-campaigns {
  margin-top: 45px;
}
